@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#0f95d1, #084e44);
}
.card{
    position: relative;
    width: 320px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
} 
.card .poster{
    position: relative;
    overflow: hidden;
}
.card .poster::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -180px;
    background: linear-gradient(0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}
.card:hover .poster::before{
    bottom: 0px;
}
.card .poster img{
    width: 100%;
    transition: 0.5s;
}
.card:hover .poster img{
    translate: 0px -50px;
    filter: blur(2px);
}
.card .details{
    position: absolute;
    bottom: -174px;
    left: 0;
    z-index: 2;
    transition: 0.5s;
    padding: 20px;
}
.card:hover .details{
    bottom: 0px;
}
.card .details .logo{
    max-width: 180px;
}
.card .details h3{
    font-size: 0.8em;
    color: whitesmoke;
}
.card:hover .details h3{
    color: #b8e3ff;
}
.card .details .rating{
    position: relative;
    padding: 5px 0;
}
.card .details .rating .fa-star,
.card .details .rating .fa-star-half-stroke{
    color: whitesmoke;
    font-size: 1em;
}
.card:hover .details .rating .fa-star,
.card:hover .details .rating .fa-star-half-stroke{
    color: #67fcff;
}
.card .details .rating span{
    color: #b8e3ff;
    margin-left: 5px;
}
.card .details .tags{
    position: relative;
    margin-top: 5px;
}
.card .details .tags span{
    padding: 2px 5px;
    color: #b8e3ff;
    background: #03a8f5;
    border-radius: 4px;
}
.card .details .tags span:nth-child(2){
    background: #7e8ded;
}
.card .details .info{
    color: #a5d9da;
    margin-top: 30px;
}
.card .details .cast{
    position: relative;
}
.card .details .cast h4{
    color: #b8e3ff;
    margin-top: 10px;
}
.card .details .cast ul{
    display: flex;
    position: relative;
    gap: 10px;
    margin-top: 10px;
}
.card .details .cast ul li{
    list-style: none;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
}
.card .details .cast ul li img{
    width: 100%;
}